<%= form_with(model: @dish, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :dish %>

    <%= f.text_field :dish, class: "form-control" %>
  </div>

  <%= f.hidden_field :cuisine_id, value: @cuisine.id %>

  <div class="form-group">
    <%= f.label :venue_id %>

    <%= f.collection_select :venue_id, Venue.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create dish", class: "btn btn-block btn-outline-secondary" %>
<% end %>
