<!-- Form favorite_dish start -->
<%= form_with(model: @favorite_dish, local: true) do |f| %>
<!-- Form favorite_dish end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for venue_id start -->
  <!-- Input for venue_id start -->
  <%= f.hidden_field :venue_id, value: @venue.id %>
  <!-- Input for venue_id end -->
  <!-- Label and input for venue_id end -->

  <!-- Label and input for dish_id start -->
  <div class="form-group">
    <%= f.label :dish_id %>

    <!-- Input for dish_id start -->
    <%= f.text_field :dish_id, class: "form-control" %>
    <!-- Input for dish_id end -->
  </div>
  <!-- Label and input for dish_id end -->

  <%= f.submit "Create favorite dish", class: "btn btn-block btn-outline-secondary" %>
<% end %>
