<%= form_with(model: @dish, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :dish %>

    <%= f.text_field :dish, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cuisine_id %>

    <%= f.collection_select :cuisine_id, Cuisine.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :venue_id, value: @venue.id %>

  <%= f.submit "Create dish", class: "btn btn-block btn-outline-secondary" %>
<% end %>
