<% was_validated = dish.errors.any? %>

<%= form_with(model: dish, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for dish start -->
  <div class="form-group">
    <% dish_class = "form-control" %>
    <% dish_was_invalid = dish.errors.include?(:dish) %>

    <% if was_validated %>
      <% if dish_was_invalid %>
        <% dish_class << " is-invalid" %>
      <% else %>
        <% dish_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dish %>
    <!-- Input for dish start -->
    <%= f.text_field :dish, class: dish_class, placeholder: "Enter dish" %>
    <!-- Input for dish end -->
    <% if dish_was_invalid %>
      <% dish.errors.full_messages_for(:dish).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for dish end -->
  <!-- Label and input for cuisine_id start -->
  <div class="form-group">
    <% cuisine_class = "form-control" %>
    <% cuisine_was_invalid = dish.errors.include?(:cuisine) %>

    <% if was_validated %>
      <% if cuisine_was_invalid %>
        <% cuisine_class << " is-invalid" %>
      <% else %>
        <% cuisine_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cuisine_id %>
    <!-- Input for cuisine_id start -->
    <%= f.number_field :cuisine_id, class: cuisine_class, placeholder: "Enter cuisine" %>
    <!-- Input for cuisine_id end -->
    <% if cuisine_was_invalid %>
      <% dish.errors.full_messages_for(:cuisine).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for cuisine_id end -->
  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <% venue_class = "form-control" %>
    <% venue_was_invalid = dish.errors.include?(:venue) %>

    <% if was_validated %>
      <% if venue_was_invalid %>
        <% venue_class << " is-invalid" %>
      <% else %>
        <% venue_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :venue_id %>
    <!-- Input for venue_id start -->
    <%= f.number_field :venue_id, class: venue_class, placeholder: "Enter venue" %>
    <!-- Input for venue_id end -->
    <% if venue_was_invalid %>
      <% dish.errors.full_messages_for(:venue).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for venue_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
