<div class="card mb-3">
  <h2 class="card-header h4">
    Favorite Dish #<%= favorite_dish.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <!-- Display user_id start -->
      <dd>
        <% if @favorite_dish.user.present? %>
          <%= link_to favorite_dish.user, favorite_dish.user %>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>Venue</dt>
      <!-- Display venue_id start -->
      <dd>
        <% if @favorite_dish.venue.present? %>
          <%= link_to favorite_dish.venue, favorite_dish.venue %>
        <% end %>
      </dd>
      <!-- Display venue_id end -->

      <dt>Dish</dt>
      <!-- Display dish_id start -->
      <dd>
        <% if @favorite_dish.dish.present? %>
          <%= link_to favorite_dish.dish, favorite_dish.dish %>
        <% end %>
      </dd>
      <!-- Display dish_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back favorite_dish, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link favorite_dish start -->
      <div class="col">
        <%= link_to edit_favorite_dish_url(favorite_dish), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link favorite_dish end -->

      <!-- Delete link favorite_dish start -->
      <div class="col">
        <%= link_to favorite_dish, method: :delete, data: { confirm: "Do you really want to delete this favorite_dish?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link favorite_dish end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(favorite_dish.updated_at) %> ago
  </div>
</div>
