<% was_validated = favorite_dish.errors.any? %>

<%= form_with(model: favorite_dish, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = favorite_dish.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% favorite_dish.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <% venue_class = "form-control" %>
    <% venue_was_invalid = favorite_dish.errors.include?(:venue) %>

    <% if was_validated %>
      <% if venue_was_invalid %>
        <% venue_class << " is-invalid" %>
      <% else %>
        <% venue_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :venue_id %>
    <!-- Input for venue_id start -->
    <%= f.collection_select :venue_id, Venue.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for venue_id end -->
    <% if venue_was_invalid %>
      <% favorite_dish.errors.full_messages_for(:venue).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for venue_id end -->
  <!-- Label and input for dish_id start -->
  <div class="form-group">
    <% dish_class = "form-control" %>
    <% dish_was_invalid = favorite_dish.errors.include?(:dish) %>

    <% if was_validated %>
      <% if dish_was_invalid %>
        <% dish_class << " is-invalid" %>
      <% else %>
        <% dish_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dish_id %>
    <!-- Input for dish_id start -->
    <%= f.number_field :dish_id, class: dish_class, placeholder: "Enter dish" %>
    <!-- Input for dish_id end -->
    <% if dish_was_invalid %>
      <% favorite_dish.errors.full_messages_for(:dish).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for dish_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
